@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* font-family: 'Open Sans', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap');
/* font-family: 'Sansita Swashed', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
/* font-family: 'Montserrat', sans-serif; */

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Montserrat', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #444444;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #517e86;
  }

  .nav-name {
    font-family: 'Sansita Swashed', cursive;
    font-size: 25px;
  }

  .nav-text {
    font-family: 'Open Sans', sans-serif;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #cbd5db;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }

  .title-text {
    padding-top: 20px;
    margin-bottom: 20px;
  }
  
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
    font-family: 'Open Sans', sans-serif;
    
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }

  .link-text {
    color: #428bca;
  }
  .link-text:hover {
    color: #428bca;
  }

  .text-marg {
    margin-bottom: 60px;
  }
  
  .article-content {
    white-space: pre-line;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }

  .mr-2 {
    color: #428bca;
  }