{% extends "share/base.html" %}
{% block content %}

    <h1 class="title-text">About stuSpace</h1>

    <p class="mb-3">Welcome to stuShare. This is a place for University students to share interesting resources that they have
        found whilst completing their course.</p>
        <br/>

        <p>This also provides students to develop a differnt scope of material from students of other universities rather than JUST the required readings for their University course.</p>

        <p>Studnets can also help others out by providing a different view on a topic</p>



{% endblock content %}