{% extends "share/base.html" %}
{% block content %}

    <h1 class="title-text">About stuSpace</h1>

    <p class="about-p">Welcome to stuShare. This is a place for University students to share interesting resources that they have found whilst completing their course. This can provide people from different universities to gain a different view on a subject/topic.</p>
        <br/>

        <p class="about-p">stuSpace also provides students to develop a different scope of material from students of other universities rather than JUST the required readings for their University course.</p>

        <br/>
        <p class="about-p">Students can also help others out by providing a different view on a topic through a comment on a post. This can allow for students from different universities to showcase their understanding of a topic and learn even more from others.</p>

        <br/><br/>
        <h2>Ground Rules:</h2>
        <br>
        <p>1) Any inappropriate language will not be tolerated. If you are reported and found guilty your account will be removed.</p>
        <p>2) Any reported trolling or flamming should be reported. Again, if you are found guilty of this, your account will be removed.</p>
        <p>3) Have fun and share some knowledge with people who study the same course as you!</p>
        <p>4) More to come...</p>


{% endblock content %}